<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ layout/layout :: basic(~{::head}, ~{::main}) }">
<head>
	<script src="/js/admin/payment.js"></script>
	<link rel="stylesheet" href="/css/reservation/list.css">
</head>
<main>
	<h1>메인영역</h1>
	<div class="wrap view-size">
		<p class="page-title">예약 확인</p>

		<div id="reservation-list">
			<table>
				<tr>
					<td>예약번호</td>
					<td>출발일</td>
					<td>출발지</td>
					<td>도착일</td>
					<td>도착지</td>
					<td>승객수</td>
					<td>좌석등급</td>
				</tr>
			
				<tr th:if="${#lists.isEmpty(list)}">
					<td colspan="7" style="text-align: center">
						<span>예약 내역이 존재하지 않습니다.</span>
					</td>
				</tr>
				
				<tr th:if="${!#lists.isEmpty(list)}" th:each="dto : ${list}">
					<td>
						<input class="check" type="checkbox">
						<span th:text="${dto.no}">예약번호</span>
					</td>
					<td th:text="${dto.departureDate}">출발일</td>
					<td th:text="${dto.departure}">출발지</td>
					<td th:text="${dto.arrivalDate}">도착일</td>
					<td th:text="${dto.arrival}">도착지</td>
					<td th:text="${dto.passenger}">승객수</td>
					<td th:text="${dto.grade}">좌석등급</td>
				</tr>
			</table>
		
			<form id="pay" method="post" action="/kakaoPay">
				<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			    <button id="check_module">결제하기</button>
			</form>
			
		</div>
	</div>
</main>
</html>
