@charset "UTF-8";

.enroll{
	background-color: #f99;
	display: block;
	width: 100px;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	color: white;
	margin-bottom: 10px;
	margin-left: 85%;
}

#question-list{
	margin: 100px auto;
	width: 800px;
	height: 700px;
}

#question-list > table tr:first-of-type{
	border-bottom: 4px double #333 !important;
}

#question-list > table tr:first-of-type td{
	text-align: center;
}

#question-list > table tr td{
	padding: 20px;
}

#question-list > table tr{
	border-bottom: 1px dotted #333;
}

#question-list > table tr td:first-of-type {
	width: 100px;
}

#question-list > table tr td:nth-of-type(2) {
	width: 400px;
}

#question-list > table tr td:nth-of-type(3) {
	width: 100px;
}

#question-list > table tr td:nth-of-type(4) {
	width: 200px;
}

/* 버튼 */

.page-btn{
	margin-left: 600px;
}

.page-btn a{
	display: inline-flex;
	padding-top: 12px;
	padding-left: 18px;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 0 3px;
}

.page-btn a:hover {
	background-color: #333;
	color: #fff;
}