<!DOCTYPE html>

<html xmlns:th="//thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security" >
<header class="view-size">
	<div class="wrap">
		<nav class="flex between">
		
			<section id="home">
				<a href="/" class="home">
					<span>J</span>AIR <span>A</span>IRLINES
				</a>
			</section>
			
			<section id="menu">
				<!-- 메뉴 -->
				<div class="flex between">
					<a href="/reservations">예약확인</a>
					<a href="/questions">QnA</a>
				</div>
			</section>
			
			<section id="member" class="flex between">
			
				<!-- 인증이 되지 않은 경우 출력 -->
				<div id="login" class="flex between" sec:authorize="isAnonymous()">
					<p>비회원</p>
			  		<a href="/sign/signin">로그인</a>
			    </div>

			<div>
				<!-- 인증이 된 경우 출력 sec:authorize="isAuthenticated()" -->
		        <div id="logout" class="flex between" sec:authorize="isAuthenticated()">

			        <span th:text="${#authentication.name}"></span>

			        <form action="/logout" method="post">
			        	
			        	<input type="hidden" th:if="${_csrf}"
									th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}"/>

			        	<button>로그아웃</button>

			        </form>

		        </div>
		        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">관리자 페이지</a>
			</div>
			
			
				<div>
					<a href="/sign/signup">회원가입</a>
				</div>
				
			</section>		
		
		</nav>
	</div>
</header>
</html>