<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nowon.domain.mapper.QuestionMapper">

	<select id="findAll">
		select * from question
		order by no desc
		limit #{limit} offset #{offset}
	</select>
	
	<insert id="save">
		insert into question(title, writer, content, answered) values(#{title}, #{writer}, #{content}, #{answered})
	</insert>
	
	<select id="findByNo" resultType="com.green.nowon.domain.entity.QuestionEntity">
		select * from question where no = #{no}
	</select>
	
	<update id="update">
		update question set title=#{title}, content=#{content} where no = #{no}
	</update>
	
	<delete id="delete">
		delete from question where no = #{no}
	</delete>
	
	<insert id="saveAnswer" parameterType="com.green.nowon.domain.dto.ReviewDTO">
		insert into review(writer, content, no) values(#{ReviewDTO.writer}, #{ReviewDTO.content}, #{ReviewDTO.no})
	</insert>
	
	<select id="reviewFindByno" resultType="com.green.nowon.domain.dto.ReviewDTO">
		select * from review where no = #{no}
	</select>
	
	<select id="findAllByColName" resultType="com.green.nowon.domain.entity.QuestionEntity">
		select * from question
		<where>
			<if test="colName != null and query !=null">
				${colName} like '%${query}%'
			</if>
		</where>
		order by no desc
	</select>
	
	<select id="findByQuery" resultType="com.green.nowon.domain.entity.QuestionEntity">
		select * from question
		<where>
			<if test="columnName !=0 and columnName == 1 or columnName == 3 or columnName == 5 or columnName == 7">
				or title like '%${query}%'
			</if>
			<if test="columnName !=0 and columnName == 2 or columnName == 3 or columnName == 6 or columnName == 7">
				or content like '%${query}%'
			</if>
			<if test="columnName !=0 and columnName == 4 or columnName == 5 or columnName == 6 or columnName == 7">
				or writer like '%${query}%'
			</if>
		</where>
		order by no desc
	</select>
	
</mapper>