<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ layout/layout :: basic(~{::head}, ~{::main}) }">
<head>
	<th:block th:if="${_csrf}">
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<meta name="_csrf" th:content="${_csrf.token}" />
	</th:block>
	<link rel="stylesheet" href="/css/member/joinin.css">
	
	<link rel="stylesheet" href="/css/member/signup.css">
	<script src="/js/member/signup.js"></script>
</head>
<main>
	<h1>메인영역</h1>
	<!-- <div class="wrap view-size">
		<p class="page-title">회원가입 페이지</p>
		
		<form class="joinin-wrap" action="/sign/signup" method="post">
			<p>
				<input type="text" placeholder="email" name="email">
			</p>
			<p>
				<input type="password" placeholder="password" name="password">
			</p>
			<p>
				<input type="text" placeholder="name" name="name">
			</p>
			<p>
				<input type="text" placeholder="birth" name="birth">
			</p>
			<p>
				<input type="text" placeholder="address" name="address">
			</p>
			<p>
				<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button>회원가입</button>
			</p>
		</form>
	</div> -->
	
	<!-- ---------------------------------------------------------- -->
	<section class="view-size">
	<form id="signup-form" action="/sign/signup" method="post">
	        	<div class="wrap">
	        		
	        		<div class="input-wrap">
		        		<ul class="input-box">
		        			<li class="flex">
		        				<input name="email" id="email" type="text" placeholder="이메일">
		        				<div class="check" onclick="emailKeyup()">중복확인</div>
		        			</li>
		        			<li class="msg" id="emailCheck">메시지가 들어가요.</li>
		        		</ul>	
		        		
		        		<ul class="input-box">
		        			<li>
		        				<input name="password" id="password-f" type="password" placeholder="비밀번호 (영문, 숫자, 특수문자 조합 8자 이상 입력)">
		        			</li>
		        			<li class="msg">메시지가 들어가요.</li>
		        		</ul>
		        		
		        		<ul class="input-box">	
		        			<li>
		        				<input type="password" id="passowrd-s" placeholder="비밀번호확인">
		        			</li>
		        			<li class="msg">메시지가 들어가요.</li>
		        		</ul>
		        		
		        		<ul class="input-box">	
		        			<li>
		        				<input type="text" id="name" name="name" placeholder="이름">
		        			</li>
		        			<li class="msg">메시지가 들어가요.</li>
		        		</ul>
		        		<!-- 주소, 생년월일 추가해야함 -->
		        		<ul class="input-box">	
		        			<li>
		        				<input type="text" id="address" name="address" placeholder="주소(시/군/구 까지만 입력)">
		        			</li>
		        			<li class="msg">메시지가 들어가요.</li>
		        		</ul>
		        		
		        		
		        		<ul class="input-box">
		        			<li class="birth-box flex">
		        				<!-- <div class="birth-box"> -->
									<input name="year" class="inpt-birth inpt" type="text" placeholder="년(4자리)">
									<input name="month" class="inpt-birth inpt" list="month" placeholder="월">
									<datalist id="month">
										<option value="1">
										<option value="2">
										<option value="3">
										<option value="4">
										<option value="5">
										<option value="6">
										<option value="7">
										<option value="8">
										<option value="9">
										<option value="10">
										<option value="11">
										<option value="12">
									</datalist>
									<input name="day" class="inpt-birth inpt" type="text" placeholder="일">
									<input type="hidden" name="birth">
								<!-- </div> -->
		        			</li>
		        		</ul>
		        		
	        		</div>
	        		
	        	</div>
	        	
	        	<div class="wrap terms">
		        	<div class="check-box">
		        		<input type="checkbox" id="allagr" name="checkAll">
		        		<label for="allagr">전체 약관 동의</label>
		        	</div>
	        		<div class="flex between">
	        			<div class="check-box">
	        				<input type="checkbox" id="age">
	        				<label for="age">[필수] 만 14세 이상입니다.</label>
	        			</div>
	        			<a href="#">보기</a>
	        		</div>
	        		<div class="flex between">
	        			<div class="check-box">
	        				<input type="checkbox" id="agr">
	        				<label for="agr">[필수] 이용약관 동의</label>
	        			</div>
	        			<a href="#">보기</a>
	        		</div>
	        		<div class="flex between">
	        			<div class="check-box">
	        				<input type="checkbox" id="bank">
	        				<label for="bank">[필수] 전자금융거래약관</label>
	        			</div>
	        			<a href="#">보기</a>
	        		</div>
	        		<div class="check-box">
	        			<input type="checkbox" id="per">
	        			<label for="per">[필수] 개인정보 수집 및 이용동의</label>
	        			<table class="agr-box">
	        				<thead>
		        				<tr>
		        					<th>※ 개인정보 수집</th>
		        				</tr>
	        				</thead>
	        				
	        				<tr>
	        					<th>목적</th>
	        					<td>개인식별, 서비스 이용알림, 고객 고충 처리</td>
	        				</tr>
	        				<tr>
	        					<th>항목</th>
	        					<td>이름, 아이디, 비밀번호, 전화번호</td>
	        				</tr>
	        				<tr>
	        					<th>보유기간</th>
	        					<td>회원탈퇴 시 즉시 파기</td>
	        				</tr>
	        			</table>
	        		</div>
	        		<div class="check-box">
	        			<input type="checkbox" id="choice">
	        			<label for="choice">[선택] 선택정보 수집 및 이용동의</label>
	        			
	        			<table class="agr-box">
	        				<thead>
		        				<tr>
		        					<th>※ 개인정보 수집</th>
		        				</tr>
	        				</thead>
	        				
	        				<tr>
	        					<th>목적</th>
	        					<td>혜택, 서비스 알림</td>
	        				</tr>
	        				<tr>
	        					<th>항목</th>
	        					<td>이메일, 추천인 아이디</td>
	        				</tr>
	        				<tr>
	        					<th>보유기간</th>
	        					<td>회원탈퇴 시 즉시 파기</td>
	        				</tr>
	        			</table>
	        		</div>
	        		<div class="check-box">
	        			<input type="checkbox" id="marketing">
	        			<label for="marketing">[선택] 혜택 정보 및 광고 수신 동의(SMS, E-mail)</label>
	        		</div>
	        	</div>
	        	<p>
	        		이용약관 및 개인정보 동의 내용을 확인하였으며,
	        		<br>
	        		위 내용에 동의합니다. 만 14세 미만 아동은 회원가입이 불가합니다.
	        	</p>
	        	
	        	<!-- <input class="submit" type="submit" value="가입하기"> -->
	        	<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	        	<button class="submit">가입하기</button>
        	</form>
        	
        	</section>
	
</main>
</html>
