@charset "UTF-8";


/******************************************** visual */
#visual>.wrap{
	position: relative;
	height:534px;
	width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
#visual>.wrap .item-list{
	width: 100%;
	height: 100%;
}
#visual>.wrap .item-list .item{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 1s;
}
#visual>.wrap .item-list .item.target{
	opacity: 1;
	transform: translateX(0%);
}
#visual>.wrap .item-list .item.next{
	opacity: 1;
	transform: translateX(100%);
}
#visual>.wrap .item-list .item.prev{
	opacity: 1;
	transform: translateX(-100%);
}

#visual>.wrap .item-list .item a{
	display:block;
	width: 100%;
	height: 100%;
	background:  no-repeat center / cover;
}

#visual>.wrap .btn-wrap .btn{
	position: absolute;
	width: 30px;
	height : 30px;
	top: calc(50% - 50px);
	display:inline-flex;
	align-items:center;
	text-align: center;
	z-index: 2;
	border: 1px solid #333;
	border-radius: 50%;
	background-color: #333;
	color: white;
	font-weight: 900;
	opacity: 0.7;
	padding-left: 7px;
}
#visual>.wrap .btn-wrap .btn.prev{
	left: 30px;
}
#visual>.wrap .btn-wrap .btn.next{
	right: 30px;
}

#visual>.wrap .bullet-wrap{
	position: absolute;
	bottom: 20px;
	left: calc(50% - 110px);
}

#visual>.wrap .bullet-wrap .bullet:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,75%);
	color: #fff;
}

#visual>.wrap .bullet-wrap .bullet{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(255,255,255,75%);
	border-radius: 50%;
	margin: 0 2px;
}

#visual>.wrap .bullet-wrap .bullet.target{
	cursor: pointer;
	background-color: rgba(0,0,0,75%);
	color: #fff;
}

#visual>.wrap .auto-wrap{
	position: absolute;
	bottom: 40px;
	left: 40px;
	line-height: 40px;
	display: inline-flex;
	font-size: 20px;
}

#visual>.wrap .auto-wrap > span.txt{
	margin-left: 5px;
}



/*
.event li{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 0.5s;
} */
.event{
	width: 300px;
	height: 450px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.event:hover{
	cursor: pointer;
}
.event li{
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	padding: 5px 0;
}

#reservation-wrap{
	margin-top: 50px;
}

#reservation > *{
	width: 130px;
}




/* reservation */
#reservation-wrap{
	width: 1200px;
	height: 160px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #a9a9a9;
	padding: 30px;
}

#reservation > input{
	border-bottom: 1px solid #777;
	color: #777;
	font-weight: 500;
}

#reservation label{
	display: none;
}

#reservation select{
	appearance: none;
	border: none;
	border-bottom: 1px solid #777;
	color: #777;
	font-weight: 500;
}

#reservation button {
	background-color: #f55;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: 500;
}



/* preview */

#preview section{
	margin-top: 150px;
}

#preview section > div{
	margin-top: 50px;
}

.section-label > a{
	border: 1px solid #666;
	border-radius: 150px;
	display: block;
	width: 100px;
	height: 35px;
	padding-top: 4px;
	padding-left: 15px;
}

.sub-title{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 10px;
}



/* sevice */

#service{
	margin-top: 150px;
	height: 460px;
	background-image: url("/image/service-background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#service-title{
	padding-left: 50px;
	padding-top: 40px;
	
}

#service > div{
	margin-top: 40px;
}

#service > div > ul > li{
	width: 200px;
	height: 250px;
	background-color: white;
	opacity: 0.8;
}

#service > div > ul > li:hover{
	cursor: pointer;
}

#service > div > ul > li > *{
	font-weight: 500;
	margin-top: 20px;
	text-align: center;
}

#service > div > ul > li > img{
	margin-left: 30%;
}
