@charset "UTF-8";

main section{
	margin-top: 100px;
	border-top: 1px solid #a9a9a9;
}

/******************************************** visual */
#visual>.wrap{
	position: relative;
	height:534px;
	width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
#visual>.wrap .item-list{
	width: 100%;
	height: 100%;
}
#visual>.wrap .item-list .item{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 1s;
}
#visual>.wrap .item-list .item.target{
	opacity: 1;
	transform: translateX(0%);
}
#visual>.wrap .item-list .item.next{
	opacity: 1;
	transform: translateX(100%);
}
#visual>.wrap .item-list .item.prev{
	opacity: 1;
	transform: translateX(-100%);
}

#visual>.wrap .item-list .item a{
	display:block;
	width: 100%;
	height: 100%;
	background:  no-repeat center / cover;
}

#visual>.wrap .btn-wrap .btn{
	position: absolute;
	width: 100px;
	height : 100px;
	top: calc(50% - 50px);
	display:inline-flex;
	align-items:center;
	text-align: center;
	z-index: 2;
}
#visual>.wrap .btn-wrap .btn.prev{
	left: 0;
}
#visual>.wrap .btn-wrap .btn.next{
	right: 0;
}

#visual>.wrap .bullet-wrap{
	position: absolute;
	bottom: 20px;
	left: calc(50% - 110px);
}

#visual>.wrap .bullet-wrap .bullet:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,75%);
	color: #fff;
}

#visual>.wrap .bullet-wrap .bullet{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(255,255,255,75%);
	border-radius: 50%;
	margin: 0 2px;
}

#visual>.wrap .bullet-wrap .bullet.target{
	cursor: pointer;
	background-color: rgba(0,0,0,75%);
	color: #fff;
}

#visual>.wrap .auto-wrap{
	position: absolute;
	bottom: 40px;
	left: 40px;
	line-height: 40px;
	display: inline-flex;
	font-size: 20px;
}

#visual>.wrap .auto-wrap > span.txt{
	margin-left: 5px;
}


 .event{
	position: relative;
	width: 100px;
	height: 100px;
}
/*
.event li{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 0.5s;
} */
.event{
	border: 1px solid #a9a9a9;
	width: 200px;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.event:hover{
	cursor: pointer;
}
.event li{
	background-color: red;
	margin-top: 45%;
	color: white;
}